POSTGRES_DB=keep_pushing
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

APP_PORT=3000

RUNANA_SOLANA_RPC_URL=http://host.docker.internal:8899
RUNANA_SOLANA_COMMITMENT=confirmed
RUNANA_PROGRAM_ID=FeZgz7XaSXg9uEpC4Lh3fPSYpFmYWdUQ1GNyWX8Heskg

# Optional for settlement flows.
RUNANA_SERVER_SIGNER_HOST_PATH=./.docker/secrets
RUNANA_SERVER_SIGNER_KEYPAIR_PATH=/runana-secrets/server.json
